[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "minibufexpl.vim"]
	path = minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/minubufexpl"]
	path = bundle/minubufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "speeddating"]
	path = speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "airline"]
	path = airline
	url = https://github.com/bling/vim-airline.git
[submodule "snipmate"]
	path = snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle\\airline"]
	path = bundle\\airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle\\ozzy"]
	path = bundle\\ozzy
	url = https://github.com/gcmt/ozzy.vim.git
